body{

    background: linear-gradient(90deg, #fcff9e 0%, #c67700 100%);
}

.col-mid-6{

    border: 10px solid black;
    margin-top: 150px !important;
    padding: 20px;
}
button{

    margin: 20px !important;
    border: 2px solid black !important;
}
h1{
    font-weight: bolder !important;
    margin: 20px !important;
}
